/* StrategyDetails.css */
.performance-box {
    padding: 10px 20px;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    border: 4px solid #add600;
    background-color: #add600;
}

.performance-value {
    color: white;
    font-size: 32px;
    display: block;
}

.performance-box span {
    color: white;
}

/* src/components/StrategyChart.css */

.chart-label {
    position: relative;
    margin-top: -40px; /* Adjust based on chart */
}

.highlight-box {
    background-color: rgba(195, 212, 0, 0.8); /* Light green */
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 150px;
    font-weight: bold;
}

.highlight-box h4 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.highlight-box p {
    margin: 0;
}
